input {
  width: 100%;
  margin-top: 40px;

  margin: none;
}

ul {
  list-style-type: none;
  margin-top: 20px;
  font-size: 20px;
}

a {
  padding: 10px;
  cursor: pointer;
}

li {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 10px;
  background-color: #f7f3ac;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

button {
  margin: 0;
}
