<div class="container w-50">
  <div *ngIf="this.message; else nomess">
    <div class="container mt-4">
      <ul *ngIf="isConfirmed === false; else zeroElem">
        <div *ngFor="let listitem of todos">
          <li *ngIf="!listitem.completed">
            {{ listitem.title }}
            <div>
              <a (click)="confirmed(listitem)"
                ><i class="bi bi-patch-check text-success"></i
              ></a>
              <a (click)="remove(listitem)"
                ><i class="bi bi-trash3 text-danger"></i
              ></a>
            </div>
          </li>
        </div>
      </ul>

      <ng-template #zeroElem>Non ci sono Task da fare!</ng-template>

      <input
        [(ngModel)]="inputvalue"
        type="text"
        placeholder="Inserisci le cose da fare"
      />
      <button
        type="button"
        (click)="addTask()"
        class="btn btn-outline-success my-3"
      >
        Invia
      </button>
    </div>
  </div>
  <ng-template #nomess>In corso....</ng-template>
</div>
